@{
    Layout = "_Layout";
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<body style="
    background: url('../img/background2.svg') no-repeat center fixed;
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;">
</body>
    <div class="container">
    <div id="awardsSection" class="col-md-3">
        <h2>AWARDS</h2>
        @if (ViewBag.Awards == null || ViewBag.Awards.Count == 0)
        {
            <span>no awards</span>
        }
        else
        {
            foreach (var award in ViewBag.Awards)
            {
                <div class="award-item">
                    <h3>@award.Name</h3>
                    <p>@award.Condition</p>
                </div>

            }
        }
    </div>

    <div id="completedAbelsSection" class="col-md-6">
        <h2>COMPLETED ABELS</h2>
        @if (ViewBag.Peaks == null || ViewBag.Peaks.Count == 0)
        {
            <span>No peaks</span>
        }
        else
        {
            <div id="boardItems">
                @foreach (var peak in ViewBag.Peaks)
                {
                    <div class="itemBox" data-id="@peak.PeakID">
                        <h4>@peak.Name</h4>
                        <p1>@peak.Region</p1>
                    </div>

                }
            </div>
        }
    </div>

    <div id="userSection" class="col-md-3">
        <h2>USER DETAILS</h2>
            <img src="@ViewBag.ProfileImg" alt="User Avatar" class="avatar" />
            <h3>@ViewBag.UserName</h3>
            <p>
                @ViewBag.Email<br />
                TOTAL COMPLETED: @ViewBag.TotalCompleted
            </p>

            <div class="user-actions">
                <a href="/Profile/ChangePassword" class="btn btn-secondary">CHANGE PASSWORD</a>
                <a href="/Profile/EditDetails" class="btn btn-secondary">EDIT DETAILS</a>
            </div>
        </div>
    </div>
>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $("#completedAbelsSection").on("click", ".itemBox", function () {
            var peakID = $(this).data("id");
            if (peakID) {
                window.location.href = `/Forum/Index?boardID=${peakID}`;
            }
        });
    });
</script>

