@model PeakHub.ViewModels.ProfileViewModel
@{
    Layout = "_Layout";
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<link rel="stylesheet" href="~/css/profile.css" asp-append-version="true" />

<div class="container">
    <div id="awardsSection" class="col-md-3">
        <h3>Awards</h3>
        @if (ViewBag.Awards == null || ViewBag.Awards.Count == 0)
        {
            <span>no awards</span>
        }
        else
        {
            foreach (var award in ViewBag.Awards)
            {
                <div class="award-item">
                    <p><strong>@award.Name</strong><br>@award.Condition</p>
                </div>
            }
        }
    </div>

    <div id="completedAbelsSection" class="col-md-6">
        <h3>Completed Abels</h3>
        @if (ViewBag.Peaks == null || ViewBag.Peaks.Count == 0)
        {
            <span>No peaks</span>
        }
        else
        {
            <div id="boardItems">
                @foreach (var peak in ViewBag.Peaks)
                {
                    <div class="itemBox" data-id="@peak.PeakID">
                        @peak.Name - @peak.Region
                    </div>
                }
            </div>
        }
    </div>

    <div id="userSection" class="col-md-3">
        <div class="user-info">
            <img src="@ViewBag.ProfileImg" alt="User Avatar" class="avatar" />
            <h3>@ViewBag.UserName</h3>
            <p>
                User Details:<br />
                @Model.UserName<br />
                @Model.Email<br />
                Total Completed: @Model.TotalCompleted
            </p>

            <div class="user-actions">
                <a href="/Profile/ChangePassword" class="btn btn-secondary">Change Password</a>
                <a href="/Profile/EditDetails" class="btn btn-secondary">Edit Details</a>
            </div>
        </div>
    </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $("#completedAbelsSection").on("click", ".itemBox", function () {
            var peakID = $(this).data("id");
            if (peakID) {
                window.location.href = `/Forum/Index?boardID=${peakID}`;
            }
        });
    });
</script>

