@model PeakHub.ViewModels.Forum.ForumPostViewModel
@{ string likeActivity = (Model.UserHasLiked) ? "" : "inactiveLike"; }

<div class="forumPost">
    <div class="header">
        <img src="@Model.Post.User.ProfileIMG" alt="Poster's Profile Image" />
        <p> <strong> @Model.Post.User.UserName </strong> </p>
    </div>

    <div class="content">
        <p>@Model.Post.Content</p>

        @if (!string.IsNullOrEmpty(Model.Post.MediaLink)) {
            <img src="@Model.Post.MediaLink" alt="User's Media Image" />
        }
    </div>

    <div class="footer">
        <p>@Model.Post.ViewDate() @Model.Post.ViewTime()</p>

        <a class="icon">
            <i id="like_@Model.Post.PostID" class="fas fa-thumbs-up @likeActivity"></i>
            <p id="count_@Model.Post.PostID">@Model.LikeCount</p>
        </a>
    </div>
</div>