@model PeakHub.ViewModels.Forum.ForumPostViewModel
@{ string likeActivity = (Model.UserHasLiked) ? "activeLike" : "inactiveLike"; }
<!-- Used to Populate a Post's Design -->

<div class="postBox">
    <div class="postContent">
        <p>@Model.Post.Content</p>
        @if (!string.IsNullOrEmpty(Model.Post.MediaLink)) {
            <img src="@Model.Post.MediaLink" alt="User's Media Image" />
        }
    </div>

    <div class="postInfo">
        <div class="postLeft">
            <img src="@Model.Post.User.ProfileIMG" alt="User's Profile Image" />
            <div class="postUser">
                <h4>@Model.Post.User.UserName</h4>
                <p>@Model.Post.TransactionTimeUtc</p>
            </div>
        </div>

        <div class="postRight">
            <h4 id="count_@Model.Post.PostID">@Model.LikeCount</h4>
            <i id="like_@Model.Post.PostID" class="fas fa-thumbs-up @likeActivity"></i>
        </div>
    </div>
</div>