@model PeakHub.ViewModels.PostViewModel
<!-- Used to Populate a Post's Design -->

<div class="postBox">
    <div class="postContent">
        <p>@Model.Post.Content</p>
    </div>
    <div class="postInfo">
        <div class="postLeft">
            <img src="@Model.ProfileImg" alt="User's Profile Image" />
            <div class="postUser">
                <h4>@Model.Username</h4>
                <p>@Model.Post.TransactionTimeUtc</p>
            </div>
        </div>

        <div class="postRight">
            <h4>@Model.Post.Likes.Count()</h4>
            <img src="@Model.LikeIcon" alt="Like Icon" /> <!-- Icon for LIKES -->
        </div>
    </div>
</div>