@model PeakHub.ViewModels.Forum.ForumViewModel
@{
    ViewData["Title"] = "Forum";
    string addPost = (Model.User.userID == "0") ? "deactivate" : "";
}

<link rel="stylesheet" href="~/css/_forum.css" asp-append-version="true" />

<div id="forumContent">
    <div class="header">
        <img src="@Model.User.profileImg" alt="Your Profile Image" />
        <p> <strong>@Model.User.username</strong> </p>
    </div>

    <div class="content">
        @if (Model.Posts.Count > 0) {
            foreach (var postViewModel in @Model.Posts) {
                @await Html.PartialAsync("_post", postViewModel)
            }
        }
        else { <h2>No Posts! Please Populate</h2> }

        <div class="mini-nav">
            <a class="mini-nav-icon" href="@Url.Action("Index", "Board")">
                <i class="fas fa-arrow-left"></i>
                <p>Back</p>
            </a>

            <form id="addPostForm" asp-action="Index" asp-controller="AddPost" class="mini-nav-icon @addPost">
                <input type="hidden" name="BoardID" value="@Model.Board.BoardID" />

                <i class="fas fa-plus"></i>
                <p>Add</p>
            </form>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () { 
        // Move to AddPost Page
        $("#addPostForm").on("click", function () { $(this).submit(); });

        // Updating a Like Count on Click IF UserID is not "0" [Not Logged In]
        $("[id*='like_']").on("click", function () {
            if ("@addPost" === "deactivate") return;

            var postID = $(this).attr("id").split("_")[1];
            var likeCount = parseInt($("#count_" + postID).text());
            var hasNotLiked = $(this).hasClass("inactiveLike");

            var action = hasNotLiked ? "LikePost" : "UnlikePost";
            var type = hasNotLiked ? "POST" : "DELETE";

            // AJAX Request
            $.ajax({
                url: `/Forum/${action}`,
                type: `${type}`,
                data: { postID: parseInt(postID) },
                success: function (response) {
                    console.log(response.message);
                    $("#count_" + postID).text(response.likes);

                    if (action == "LikePost") {
                        $("#like_" + postID).removeClass("inactiveLike").addClass("activeLike");
                    } else {
                        $("#like_" + postID).removeClass("activeLike").addClass("inactiveLike");
                    }
                }
            });
        });
    });
</script>