@model PeakHub.ViewModels.Forum.ForumViewModel
@{
    ViewData["Title"] = "Forum";
    string addPost = (Model.User.UserID == "0") ? "deactivate" : "";
}

<link rel="stylesheet" href="~/css/_forum.css" asp-append-version="true" />

<div id="forumContent">
    <div class="header">
        <img src="@Model.User.ProfileImg" alt="Your Profile Image" />
        <p> <strong>@Model.User.Username</strong> </p>
    </div>

    <div class="content" id="postsForBoard">
        <input type="hidden" id="UserID" value="@Model.User.UserID" />
        <input type="hidden" id="PageIndex" value="@Model.PageIndex" />   
    </div>

    <div id="loading" style="display:none;">
        <p>Loading more posts...</p>
    </div>

    <div class="mini-nav">
        <a class="mini-nav-icon" href="@Url.Action("Index", "Board")">
            <i class="fas fa-arrow-left"></i>
            <p>Back</p>
        </a>

        <form id="addPostForm" asp-action="Index" asp-controller="AddPost" class="mini-nav-icon @addPost">
            <input type="hidden" name="BoardID" id="BoardID" value="@Model.BoardID" />
            <i class="fas fa-plus"></i>
            <p>Add</p>
        </form>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () { loadPosts(); });

    // Handle Inifnite Scroll
    let pageIndex = $("#PageIndex").val(), loading = false, limit = false;
    const pageSize = 2, boardID = $("#BoardID").val(), userID = $("#UserID").val();
    
    function appendPosts(posts) {
        const container = $("#postsForBoard");

        posts.forEach(post => { 
            var media = "";
            if (post.media !== "" && post.media !== null) {
                media = `<img src="${post.media}" alt="Poster's Media Image" />`;
            }

            var likeActivity = "inactiveLike";
            if (post.hasUserLiked) { likeActivity = ""; }

            container.append(`
                <div class="forumPost">
                    <div class="header">
                        <img src="${post.user.profileImg}" alt="Poster's Profile Image" />
                        <p> <strong> ${post.user.username} </strong> </p>
                    </div>

                    <div class="content"> <p>${post.content}</p> ${media} </div>

                    <div class="footer">
                        <p>${new Date(post.transactionTimeUTC).toLocaleString()}</p>

                        <a class="icon">
                            <i id="like_${post.postID}" class="fas fa-thumbs-up ${likeActivity}"></i>
                            <p id="count_${post.postID}">${post.likeCount}</p>
                        </a>
                    </div>
                </div>
            `);
        });
    }

    function loadPosts() {
        if (loading || limit) return;

        loading = true;
        $("#loading").show();

        $.ajax({
            url: `/Forum/GetForumPosts?boardID=${boardID}&userID=${userID}&pageSize=${pageSize}&pageIndex=${pageIndex}`,
            type: "GET",
            success: function (posts) {
                if (posts.length > 0) {
                    pageIndex++;
                    appendPosts(posts);
                } else {
                    limit = true;
                    $('#loading').html("No more posts available.");
                }
            },
            error: function (response) {
                limit = true;
                console.log(response);
            },
            complete: function () {
                $('#loading').hide();
                loading = false;
            }
        });
    }

    $('#postsForBoard').on('scroll', function () {
        const container = $(this);

        if (container.scrollTop() + container.innerHeight() >= container[0].scrollHeight - 50) {
            loadPosts();
        }
    });

    // Move to AddPost Page
    $("#addPostForm").on("click", function () { $(this).submit(); });

    // Updating a Like Count on Click IF UserID is not "0" [Not Logged In]
    $("#postsForBoard").on("click", "[id*='like_']", function () {
        if ("@addPost" === "deactivate") return;

        const postID = $(this).attr("id").split("_")[1];
        const likeField = $(`#count_${postID}`);

        var likeCount = parseInt(likeField.text());

        const hasNotLiked = $(this).hasClass("inactiveLike");
        const action = hasNotLiked ? "LikePost" : "UnlikePost";
        const type = hasNotLiked ? "POST" : "DELETE";

        // AJAX Request
        $.ajax({
            url: `/Forum/${action}`,
            type: `${type}`,
            data: { postID: parseInt(postID) },
            success: function (response) {
                console.log(`Like Update: ${response.message}`);

                if (response.success) {
                    if (hasNotLiked) { 
                        likeCount++; 
                        $("#like_" + postID).removeClass("inactiveLike").addClass("activeLike");
                    } else { 
                        likeCount--; 
                        $("#like_" + postID).removeClass("activeLike").addClass("inactiveLike");
                    }

                    likeField.text(likeCount.toString());
                }
            }
        });
    });
</script>