@model PeakHub.ViewModels.Forum.ForumViewModel
@{
    ViewData["Title"] = "Forum";
    string header = (Model.User.UserID == "0") ? "display: none;" : "";
    string addPost = (Model.User.UserID == "0") ? "deactivate" : "";
}

<link rel="stylesheet" href="~/css/_forum.css" asp-append-version="true" />

<div id="forumContent">
    <div class="header" style="@header">
        <img src="@Model.User.ProfileImg" alt="Your Profile Image" />
        <p> <strong>@Model.User.Username</strong> </p>
    </div>

    <div class="content" id="postsForBoard">
        <input type="hidden" id="UserID" value="@Model.User.UserID" />  
    </div>

    <div id="loading" style="display:none;"></div>

    <div class="mini-nav">
        <a class="mini-nav-icon" href="@Url.Action("Index", "Board")">
            <i class="fas fa-arrow-left"></i>
            <p>Back</p>
        </a>

        <form id="addPostForm" asp-action="Index" asp-controller="AddPost" class="mini-nav-icon @addPost">
            <input type="hidden" name="BoardID" id="BoardID" value="@Model.BoardID" />
            <i class="fas fa-plus"></i>
            <p>Add</p>
        </form>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/js/forum/forum.js"> </script>